@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

header {
    margin: 0;
}

.logo {
    background: url("../images/me.jpg");
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}