@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* --------------------------------- Colors*/

.bg-color-name-title {
    background-color: grey;
}

.bg-color-contact {
    background-color: #20726b;
}

.bg-color-home {
    background-color: red;
}

.bg-color-resume {
    background-color: orange;
}

.bg-color-portfolio {
    background-color: pink;
}

.bg-color-download {
    background-color: blue;
}

/* --------------------------------- Heading*/

header {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.heading {
    margin-left: 20px;
}

.logo {
    background: url("../images/me.jpg");
    background-position: centre;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}

.name {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 80px;
    color:#fff;
}

#nav li {
	list-style-type: none;
	margin-right: 30px;
    text-align: center;
    color:#fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.button-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 26px;
    margin: 20px;
    margin-bottom: 80px;
    color: #fff;
}

.nav:hover .button-title {
    border-bottom: #fff 1px solid;
}

.header-button-icon {
    font-size: 55px;
    color: #fff;
}